[submodule "measures/MLTED"]
	path = measures/MLTED
	url = https://github.com/khaled-rahman/MLTED
	ignore = dirty
[submodule "measures/stereodist"]
	path = measures/stereodist
	url = https://bitbucket.org/oesperlab/stereodist.git
	ignore = dirty
